Source: debathena-locker-support
Section: debathena/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7.0.50~), python, python-support
Standards-Version: 3.9.3

Package: debathena-locker-support
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 python-afs (>= 0.2.0-1~),
 python-hesiod (>= 0.2.11~),
Description: Python modules for Athena's "locker" framework
 This package provides the "locker" and "athdir" modules,
 for use with debathena-pyhesiodfs and more

Package: debathena-attach
Architecture: all
Provides: attach
Depends: debathena-locker-support, ${misc:Depends}, ${python:Depends}
Description: Athena utility to attach a remote file system to the workstation
 The attach utility is a filesystem-independent utility which allows you
 to attach a filesystem to a directory hierarchy on a workstation.
 Currently supported filesystem types are AFS, NFS, and UFS.

Package: debathena-athdir
Architecture: all
Provides: athdir
Depends: debathena-locker-support, ${misc:Depends}, ${python:Depends}
Description: Utility to find machine-specific directories using Athena conventions
 The athdir utility is used to locate specific types of files in an
 Athena locker.  It knows about all the conventions for compatibility
 with older operating system versions and processor types, and is the
 preferred way to determine the correct directory in a locker in which
 to find binaries or other architecture-dependent files.

Package: debathena-quota
Architecture: all
Depends: debathena-locker-support, ${misc:Depends}, ${python:Depends}
Suggests: debathena-quota-config
Description: Print disk usage and quota limits
 Quota displays a user's disk usage and limits on local and NFS mounted
 file systems, as well as AFS lockers that have been attached. If a user
 is specified (by name or by id), quota will return information on disk
 usage and limits for that user. Normal users can only check their own
 quotas. The super-user may check any quota on local filesystems.
 .
 This package installs quota as /usr/bin/quota.debathena.  If you want
 /usr/bin/quota to point there, install the debathena-quota-config
 package.
